img {
    width: 300px;
    height: auto;
}

body {
    background: lightyellow;
    color: darkslateblue;
    font-family: monospace;
}


span {
    font-size: 60px;
    font-family: serif;
}

.letter{
    text-shadow: 0px 0px 10px skyblue;
}

#drop-cap{
    color: darkpurple;
}